SystimeWCF/Connected Services/SystimeServiceWcf/SysTimeWcfServices.Models.UtilityModels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SysTimeWcfServices.Models.UtilityModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SysTimeWcfServices.Models.UtilityModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWorkStationPolygon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkStationPolygon" nillable="true" type="tns:WorkStationPolygon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkStationPolygon" nillable="true" type="tns:ArrayOfWorkStationPolygon" />
  <xs:complexType name="WorkStationPolygon">
    <xs:sequence>
      <xs:element minOccurs="0" name="Angle" type="xs:float" />
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPolygon" type="xs:int" />
      <xs:element minOccurs="0" name="PointsList" nillable="true" type="tns:ArrayOfCoordinates" />
      <xs:element minOccurs="0" name="XCenter" type="xs:float" />
      <xs:element minOccurs="0" name="YCenter" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkStationPolygon" nillable="true" type="tns:WorkStationPolygon" />
  <xs:complexType name="ArrayOfCoordinates">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Coordinates" nillable="true" type="tns:Coordinates" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCoordinates" nillable="true" type="tns:ArrayOfCoordinates" />
  <xs:complexType name="Coordinates">
    <xs:sequence>
      <xs:element minOccurs="0" name="pX" type="xs:float" />
      <xs:element minOccurs="0" name="pY" type="xs:float" />
      <xs:element minOccurs="0" name="xyPair" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Coordinates" nillable="true" type="tns:Coordinates" />
</xs:schema>